@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  padding: 6rem 1rem;
}

html {
  background-color: rgb(229, 229, 229);
  font-family: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.link-style {
  margin-left: auto;
}


